{% extends "base.html" %}

{% block variables %}
{% endblock %}

{% block content %}
<div id="edit-main">
    <div id="edit-canvas">
        <canvas id="canvas"></canvas>
    </div>
    <div id="edit-controls">
        <a href="/">
            <button id="cancel" type="button" class="btn btn-danger container-fluid my-1">Cancel</button>
        </a>
        <form id="saveForm" name="saveDataForm" action="/edit" method="POST" submit="checkAndSubmit(e)" enctype="multipart/form-data">
            <button type="submit" class="btn btn-success container-fluid my-1">Save</button>
            <input type="hidden" id="hdata" name="hdata" value="data is not there!"/>
            <input class="form-control container-fluid my-2" id="projecct_name" type="text" id="pName" name="name" placeholder="Project Name" required>
            <div class="custom-file container-fluid my-2">
                <input type="file" class="custom-file-input" name="file" accept=".svg" id="selectFileButton" required>
                <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
            </div>
        </form>

        <div class="btn-group btn-group-toggle container-fluid" data-toggle="buttons">
            <label class="btn btn-outline-dark active">
              <input type="radio" name="options" id="option1" autocomplete="off" checked onchange="changeMode('point')"> Point
            </label>
            <label class="btn btn-outline-dark">
              <input type="radio" name="options" id="option3" autocomplete="off" onchange="changeMode('path')"> Path
            </label>
        </div>
        
        <div id="invTag">
            <input class="form-control container-fluid my-2" type="text" id="pInventory" name="inventory" placeholder="Inventory List">
            <div id="tags">
            </div>
        </div>
        
    </div>
</div>
{% endblock %}

{% block elements %}
<script type="text/javascript" src="{{ url_for('static', filename='graph.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='floorplan.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='edit.js') }}"></script>
<script>
    alert("Navigate: /edit?projectname=<projectname> to go to specific project \nelse a new project will be created.");
    alert("Rules: \n 1. Press and hold control / Command and select to delete. \n2. Press alt to deselect path or point.");
    var project = {{ project | tojson }};
    initFloorplan(project);
</script>
{% endblock %}