{% extends "base.html" %}

{% block variables %}
{% endblock %}

{% block content %}
<div id="edit-main">
    <div id="edit-canvas">
        <canvas id="canvas"></canvas>
    </div>
    <div id="edit-controls">
        <a href="/">
            <button id="cancel" type="button" class="btn btn-danger container-fluid my-1">Cancel</button>
        </a>
        <form id="saveForm" name="saveDataForm" action="/edit" method="POST" submit="checkAndSubmit(e)" enctype="multipart/form-data">
            <button type="submit" class="btn btn-success container-fluid my-1">Save</button>
            <input type="hidden" id="hdata" name="hdata" value="data is not there!"/>
            <input class="form-control container-fluid my-2" type="text" id="pName" name="name" placeholder="Project Name" required>
            <input type="file" class="form-control container-fluid my-2" name="file" accept=".svg" id="selectFileButton" required>
        </form>
        
        
        <div class="btn-group container-fluid" role="group" aria-label="Basic radio toggle button group">
            <input type="radio" class="btn-check" name="btnradio" id="pointMode" autocomplete="off" checked onclick="changeMode('point')">
            <label class="btn btn-outline-dark" for="pointMode">Point</label>
          
            <input type="radio" class="btn-check" name="btnradio" id="PathMode" autocomplete="off" onclick="changeMode('path')">
            <label class="btn btn-outline-dark" for="PathMode">Path</label>
        </div>
        
        <div id="invTag">
            <input class="form-control container-fluid my-2" type="text" id="pInventory" name="inventory" placeholder="Inventory List">
            <div id="tags">
            </div>
        </div>
        
    </div>
</div>
{% endblock %}

{% block elements %}
<script type="text/javascript" src="{{ url_for('static', filename='floorplan.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='edit.js') }}"></script>
{% endblock %}